<div id="content">
<div>
  <div class='wrapper'>
    <div class='container' [dragula]='"first-bag"'>
      <div id="my1">one</div>
      <div id="my2">two</div>
      <div id="my3">three</div>
    </div>
    <div class='container' [dragula]='"first-bag"'>
      <div id="my4">This is the default use case. You only need to specify the containers you want to use</div>
      <div id="my5">More interactive use cases lie ahead</div>
      <div id="my6">Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
    </div>
  </div>
</div>

<!--button (click)="abc()">click me!</button-->


  
  <div id="line1"></div>
  <div id="line2"></div>
</div>
